// fonts
$montserrat : 'Montserrat';

$tm-black : #121617;
$tm-grey: #666666;
$tm-grey1: #F1F1F1;
$tm-grey2: #C4C4C4;
$tm-grey3: #D9D9D9;
$tm-green: #00A364;
$tm-light-blue:#E5EAF9;
$tm-blue:#224FD6;

.tm-grey-text {
    color: $tm-grey;
}

//typography
@mixin fontStyle($size, $lineheight, $weight) {
    font-size: $size;
    line-height: $lineheight;
    font-weight: $weight;
}

@mixin body($weight) {
    font-size: 14px;
    line-height: 17px;
    font-weight: $weight;
}

@mixin h1($weight) {
    font-size: 28px;
    line-height: 34px;
    font-weight: $weight;
}

@mixin h2($weight) {
    font-size: 20px;
    line-height: 24px;
    font-weight: $weight;
}

@mixin h4($weight) {
    font-size: 16px;
    line-height: 20px;
    font-weight: $weight;
}

/* icons */
#health-icon{
    content: url(../img/icons/health-icon.png);
}
#health2-icon{
    content: url(../img/icons/health-colored-icon.png);
}
#life-icon{
    content: url(../img/icons/life-icon.png);
}
#life2-icon{
    content: url(../img/icons/life-colored-icon.png);
}
#two-wheeler-icon{
    content: url(../img/icons/2-wheeler-icon.png);
}
#two-wheeler2-icon{
    content: url(../img/icons/2-wheeler-colored-icon.png);
}
#four-wheeler-icon{
    content: url(../img/icons/4-wheeler-icon.png);
}
#four-wheeler2-icon{
    content: url(../img/icons/4-wheeler-colored-icon.png);
}