.content-container{margin:0px}
		.inner-container{background: #efeeee;padding-bottom: 10px;}		
    
		.mobile-mega-menu{top:0px; min-height: 1500px !important;}
		.button.mmm{float:right; width: 20%;color: #000; background:none}
		.mobile-mega-menu ul li a.close-button {background:#000}
		.mobile-mega-menu ul li a{background:#fff; }
		.mobile-mega-menu ul li:first-child>a {display:none}
		.is-in-view a.close-button {display:none}
		.mobile-mega-menu ul li a.next-button{background: url("mn/next.png")  90% 50%  no-repeat #ffffff;}
		.mobile-mega-menu ul li a {border-top: 1px solid #bbbdd3; border-bottom: none; font-family: 'Montserrat-Medium';font-size: 15px}
		.mobile-mega-menu ul li a.back-button{background: url("mn/back.png")  8% 50%  no-repeat #000000;}
		.hamburger {background: url("mn/hamburger.png")  50% 50%  no-repeat; height: 25px;}
		.cross{background: url("mn/cross.png")  50% 50%  no-repeat; height: 25px;} 
		.submenu-a a{display: block;float: left;text-align: center;border: 1px solid #000;width: 47%;margin: 1.5%;border-radius: 7px;padding: 8px 2px; font-size: 13px;font-family: 'Montserrat-Medium';color: #000000}
		.submenu-b a{display: block;float: left;text-align: center;border: 1px solid #000;width: 46%;margin: 1%;border-radius: 7px;padding: 8px 2px; font-size: 13px;font-family: 'Montserrat-Medium'; color: #000000}
		.subre::after{
		position: absolute;
		right: 7%;
		content: ' ';
		background: url(mn/right-circle.png) no-repeat;
		height: 30px;
		width: 30px;
		margin-top: 8px;
		}
		
	.mobile-mega-menu.open{background:none;}
.mobile-mega-menu{background:none;}	
		
		@media screen and (min-device-width: 200px) and (max-device-width: 428px) { 
			.ab{display: none !important;}
			.navbar-toggler{padding:0px}
		}
		@media screen and (min-device-width: 1025px) and (max-device-width: 1920px) { 
		.mobile-nav{display: none !important;}}
		}

/* Accordion
================================================== */
.acc {}
.acc__card {
    color: #000;
    float: left;
    font-weight: 300;
    margin: 0;
    padding: 25px 6.5%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fff;
    width: 95%;
    background: #fff;
    border-top: 1px solid #bbbdd3;
    border-bottom: none;
    font-family: 'Montserrat-Medium';
    font-size: 15px;}
	
.acc__panel a{background:#303030}
.acc__title {background: #fff;color: #000;cursor: pointer;display: block;text-align: left;}
.mn-images{margin: 0 10px; height: 50px;}

.acc__title::after{position: absolute;right: 7%;content: ' ';background: url(mn/plus-circle.png) no-repeat;height: 30px;width: 30px;}
.acc__title.active::after {position: absolute;right: 7%;content: ' ';background: url(mn/minus-circle2.png) no-repeat;height: 30px;width: 30px;}
	
	
.acc__panel {background: #fff;color: #000;display: none;margin: 0;padding: 2em 0em;text-align: left;}

